---
nodes:
    - address: '{{ rancher_control_plane[0].name }}'
      user: '{{ rancher_control_plane[0].user }}'
      internal_address: '{{ rancher_control_plane[0].internal_address }}'
      role:
        - controlplane
        - etcd
      ssh_key_path: '{{ ssh_key }}'
    - address: '{{ rancher_control_plane[1].name }}'
      user: '{{ rancher_control_plane[1].user }}'
      internal_address: '{{ rancher_control_plane[1].internal_address }}'
      role:
        - controlplane
        - etcd
      ssh_key_path: '{{ ssh_key }}'
    - address: '{{ rancher_control_plane[2].name }}'
      user: '{{ rancher_control_plane[2].user }}'
      internal_address: '{{ rancher_control_plane[2].internal_address }}'
      role:
        - controlplane
        - etcd
      ssh_key_path: '{{ ssh_key }}'
    - address: '{{ rancher_workers[0].name }}'
      user: '{{ rancher_workers[0].user }}'
      internal_address: '{{ rancher_workers[0].internal_address }}'
      role:
        - worker
      ssh_key_path: '{{ ssh_key }}'
      labels:
        app: ingress
    - address: '{{ rancher_workers[1].name }}'
      user: '{{ rancher_workers[1].user }}'
      internal_address: '{{ rancher_workers[1].internal_address }}'
      role:
        - worker
      ssh_key_path: '{{ ssh_key }}'
      labels:
        app: ingress
    - address: '{{ rancher_workers[2].name }}'
      user: '{{ rancher_workers[2].user }}'
      internal_address: '{{ rancher_workers[2].internal_address }}'
      role:
        - worker
      ssh_key_path: '{{ ssh_key }}'
      labels:
        app: ingress


# If set to true, RKE will not fail when unsupported Docker version
# are found
ignore_docker_version: false

# Cluster level SSH private key
# Used if no ssh information is set for the node
ssh_key_path: '{{ ssh_key }}'

# Enable use of SSH agent to use SSH private keys with passphrase
# This requires the environment `SSH_AUTH_SOCK` configured pointing
#to your SSH agent which has the private key added
#ssh_agent_auth: true

# List of registry credentials
# If you are using a Docker Hub registry, you can omit the `url`
# or set it to `docker.io`
# is_default set to `true` will override the system default
# registry set in the global settings
private_registries:
     - url: '{{ mirror_registry }}'
       user: '{{ registry_user }}'
       password: '{{ registry_password }}'
       is_default: true

# Set the name of the Kubernetes cluster  
cluster_name: redhat
