[rhel-8-for-x86_64-appstream-rpms]
name=rhel-8-for-x86_64-appstream-rpms
baseurl={{ repo_server }}/{{ repo_path }}/rhel-8-for-x86_64-appstream-rpms
enabled=1
gpgcheck=0
module_hotfixes=True

[rhel-8-for-x86_64-baseos-rpms]
name=rhel-8-for-x86_64-baseos-rpms
baseurl={{ repo_server }}/{{ repo_path }}/rhel-8-for-x86_64-baseos-rpms
enabled=1
gpgcheck=0
module_hotfixes=True
